*{
  margin: 0;
  padding: 0;
}
html, body {
  margin:0;border:0;padding:0;
  font-size:16px;
  font-family:'Proxima';
  overflow-x:hidden;
  font-family: 微软雅黑;
  position: relative;
  vertical-align: baseline;
}

html {
    -webkit-font-smoothing: antialiased;
}

h1 {font-size:40px;}
h2 {font-size:36px;}
h3 {font-size:30px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:18px;}
p{
  font-size: 16px;
}
h2 {
  padding-bottom: 14px;
}
.top{
  text-align: center;
}
.tm-border {
    border: 5px solid #fff;
    box-shadow: 2px 2px #000;
}
.img-circle{
  border-radius: 50%;
}
.shadow {
  text-shadow: 1px 1px #000;
}

.tm-title {
  color: #66CCFF;
}

.white {
  color: #fff;
}
.bold {
    font-weight: bold;
}
h1,p,h2{
  -webkit-margin-before:0.5em
}
/*工作经历*/
.content{
  margin: 30px;
  padding: 40px;
  background-color: #3366CC;
}
.content h2{
  margin-top: 20px;
  text-align: center;
}
.work{
  line-height: 2em;
}
/*掌握的技能*/
.education-content{
  margin: 30px;
  padding: 40px;
  background-color: #fff;
}
.education-content h4{
  color: #66CCFF;
}
/*联系方式*/
.contact{
  margin: 30px;
  padding: 40px;
  background-color: #fff;
}